.forum-main {
    background-color: #191919;
    border-width: 1px;
    height: 100%;
}

.forum-body {
    margin-top: 71.5px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side {
    width: 20%;
}

.forum-left {
    left: 0;   
}

.forum-right {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum-center {
    width: 60%;
}