.indivthread-main {
    font-family: 'Roboto' sans-serif;
    color: white;
}

.indivthread-comment-line {
    margin-left: 30px;
    font-size: 16px;
    text-align: left;
    color: #A6A6A6;
}

.indivthread-deleted {
    text-align: left;
    color: #A6A6A6;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;;
}

.indivthread-back {
    color: #A6A6A6;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.indivthread-back:hover {
    color: #A6A6A6;
    text-decoration: underline;
}